@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/top_navi.css);

.header {height: 90px;}
.lnb {top: 91px;}

.location_box {
    width: 100%;
    height: 30px;
    display: flex;
    margin: 15px 0 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.location_box li {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 0 40px 0 0;
    position: relative;
}

.location_box li~li::before,
.location_box li~li::after,
.location_box li~li a::before,
.location_box li~li a::after {
    content: "";
    display: block;
    width: 23px; height: 1px;
    background: #ccc;
    position: absolute;
    top: calc(25% - 1px); left: -20px;
    transform: rotate(45deg);
}

.location_box li~li::after,
.location_box li~li a::after {
    top: calc(75% - 1px); transform: rotate(135deg);
}

.location_box li~li a::before,
.location_box li~li a::after {
    left: -30px;
}

/* ----------------------------header------------------------ */

.main_img {
    margin: 90px 0 0 0;
    padding: 20px; box-sizing: border-box;
}

.main_img img {width: 100%; display: block;}
.main_txt {
    padding: 0 7px 10px 7px;
}
.main_txt h3 {
    font-size: 19px;
    font-weight: 600;
    padding: 6px 0;
}
.main_txt .price_01 {
    font-size: 17px;
    padding: 6px 0 18px 0;
}

.main_txt .price_01 span {
    font-size: 23px;
    font-weight: 800;
}
.main_txt .price_01 strong {
    font-size: 23px;
    color: #FB4747;
    font-weight: 800;
}

.main_txt>span {
    font-size: 13px;
    padding: 0 3px;
    border: 1px solid #ccc;
    color: #999;
}
.main_txt>span~span {margin: 0 0 0 10px;}
.main_txt>span.import {
    background: #FB4747;
    border: none;
    color: #fff;
}

/* -----------------------------------main_txt--------------------- */

.sub_txt {
    margin: 0 7px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.sub_txt ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.sub_txt .sec01 {flex-basis: 80px;}

.sub_txt .sec01 li {
    font-size: 13px;
    font-weight: 400;
    color: #666;
    letter-spacing: -0.04em;
}

.sub_txt .sec01 li span {color: #FB4747;}

.sub_txt .sec02 li {
    font-size: 13px;
    font-weight: 400;
    color: #999;
    letter-spacing: -0.04em;
}

.sub_txt .sec02 .star {
    width: 100px;
    height: 20px;
    background: url(../img/star2.jpg) repeat-x;
    background-size: 20px 20px;
}

#prod_select {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none; border-right: none;
    text-align: center;
    padding: 4px 0;
    margin: 20px 0;
}
#prod_select option {
    width: 100vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.choice {
    display: flex;
    padding: 0 7px;
}

.choice .choice_product {
    font-size: 16px;
    color: #666;
    flex: 3;
}

.choice .choice_price {
    font-size: 19px;
    font-weight: 500;
    flex: 1;
    align-self: flex-end;
    text-align: right;
}

.full_price {
    font-size: 21px;
    font-weight: 500;
    padding: 40px 7px 60px 7px;
    text-align: right;
    position: relative;
}

.full_price span {
    font-size: 31px;
    color: #FB4747;
    font-weight: 800;
}

.full_price::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: #f9f9f9;
    position: absolute;
    bottom: 20px; left: 0;
}

/* --------------------top_detail-------------------------- */

#detail_tab01, #detail_tab02, #detail_tab03 {display: none;}
.tab_page {
    display: flex;
    width: 100%;
    height: 40px;
    background: #fff;
    top: auto;
}

.tab_page label {
    font-size: 16px;
    flex: 1;
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;box-sizing: border-box;
}

.tab_page label~label {
    border-left: 1px solid #ccc;
}

#detail_tab01:checked~.tab_page .tab_btn01 {
    background: #FB4747;
    border: none;
    color: #fff;
}
#detail_tab02:checked~.tab_page .tab_btn02 {
    background: #FB4747;
    border: none;
    color: #fff;
}
#detail_tab03:checked~.tab_page .tab_btn03 {
    background: #FB4747;
    border: none;
    color: #fff;
}
.notice, .review, .qna {display: none; margin: 0 0 60px 0;}
#detail_tab01:checked~.notice {display: block;}
#detail_tab02:checked~.review {display: flex;}
#detail_tab03:checked~.qna {display: flex;}

section.notice {
    padding: 20px 7px;
}

.notice h4 {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

.notice h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
}

.notice .notice_txt {display: flex; gap: 20px;}

.notice .sec01 {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #ddd; box-sizing: border-box;
}
.notice .sec02 {
    flex: 3; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notice .sec01 li {
    font-size: 16px;
    font-weight: 500;
}
.notice .sec02 li {
    font-size: 16px;
    color: #666;
}

.notice .img img {width: 100%;}

/* ----------------------------------notice------------------------ */
.review {
    flex-direction: column;
    gap: 40px;
}

.review .photo {
    width: 100%;
    height: 90px;
    display: flex;
}

.review .photo li.on {flex: 1;}
.review .photo li.on a {height: 100%;}

.review .review_detail_01 .photo li:nth-child(1) a {background: url(../img/review01.jpg) center center/cover;}
.review .review_detail_01 .photo li:nth-child(2) a {background: url(../img/review02.jpg) center center/cover;}
.review .review_detail_01 .photo li:nth-child(3) a {background: url(../img/review03.jpg) center center/cover;}
.review .review_detail_01 .photo li:nth-child(4) a {background: url(../img/review04.jpg) center center/cover;}
.review .review_detail_01 .photo li:nth-child(5) a {background: url(../img/review04.jpg) center center/cover;}
/* --review_detail_01-- */
.review .review_detail_02 .photo li:nth-child(1) a {background: url(../img/review04.jpg) center center/cover;}
.review .review_detail_02 .photo li:nth-child(2) a {background: url(../img/review03.jpg) center center/cover;}
/* --review_detail_02-- */
.review .photo .on_more a {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 90px;
}

.review .photo .more span {
    font-size: 53px;
}

.review .review_detail {
    width: 100%;
    padding: 10px; box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.review .review_detail~.review_detail {
    border-top: 1px solid #ccc;
}

.review .review_detail h4 {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.review .review_detail .port .icon {
    width: 70px; height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.review .review_detail .port span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.review .review_detail .txt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.review .review_detail .txt .inner_txt {
    display: flex;
    align-items: flex-start;
}

.review .review_detail .txt .inner_txt strong {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-right: 20px;
}
.review .review_detail .txt .inner_txt img {
    margin: 0 10px 0 0;
}
.review .review_detail .inner_txt span {
    font-size: 16px;
    font-weight: 600;
    color: #FB4747;
    line-height: 30px;
    padding: 0 12.5px;
    border-radius: 50%;
    background: #f2f2f2;
}

.review .review_detail .star_bg {
    width: 140px;
    height: 38px;
    background: url(../img/star.png) repeat-x;
    margin: 10px 0 0 0;
}

.review .review_detail_01 .star_bg {width: 112px;}
.review .review_detail_02 .star_bg {width: 28px;}

/* ---------------------------------review-------------------------- */

.qna {
    padding: 10px 7px;
    flex-wrap: wrap;
}

.submit_main {
    width: 100%;
}

.submit_main .submit_inner {
    width: 100%; height: 75px; 
    border: 1px solid #ccc; box-sizing: border-box;
    resize: none;
    font-size: 16px;
    color: #333;
    padding: 8px;
}

.submit_main .submit_btn {
    width: 100%;
    height: 35px;
    border: 1px solid #ccc; box-sizing: border-box;
    background: #f2f2f2;
}

.qna_count {
    width: 100%;
    font-size: 19px;
    padding: 40px 0 10px 0;
}

.qna_con_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.qna_con .qna_inner {
    width: 100%;
    display: flex;
    gap: 10px;
}

.qna_con .question {
    border-bottom: 1px solid #f2f2f2;
}

.qna_con .qna_inner .port {
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.qna_con .qna_inner .arrow {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 0 0; box-sizing: border-box;
}

.qna_con .qna_inner .port img {width: 100%;}

.qna_con .qna_inner .txt {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 4px 0;
}

.qna_con .qna_inner .txt p {width: 100%;}
.qna_con .qna_inner .txt p.id {font-size: 13px; color: #999;}
.qna_con .qna_inner .txt p.date {color: #999;}

/* ---------------------------------qna-------------------------- */



#buy_btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50px;
    position: fixed;
    bottom: 60px;
    right: 0;
    padding: 10px;
}

#buy_btn a {
    display: block; 
    height: 100%; 
    color: #333;
    font-weight: 500;
}
#buy_btn li {
    text-align: center;
    line-height: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
}

#buy_btn li~li {
    background: #FB4747;
    border: none;
}

#buy_btn li~li a {color: #fff;}

#top_navi {
    bottom: 190px; right: 19px;
}
/* -----------------------------------buy_btn------------------------ */
